<div class="header-inner container">
	<span class="logo pull-left">记记</span>
	<ul>
		<li>首页</li>
		<li>周报</li>
		<li>联系我们</li>
	</ul>
	<div class="pull-right">
		<input id="content-search" type="text" name="content" class="content-search"></input>
	</div>
</div>