<div class="report">
	<img class="avatar" src="<%= avatar%>"></img>
	<div class="content">
		<div class="content-inner">
			<span class="author sub-title"><%= author%></span>
			<h3><%= title%></h3>
			<blockquote>
				<%= content%>
			</blockquote>
			<span class="date sub-title"><%= date%></span>
		</div>
	</div>
</div>